Source: salt-formula-rally
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-rally
Vcs-Git: https://github.com/tcpcloud/salt-formula-rally.git

Package: salt-formula-rally
Architecture: all
Depends: ${misc:Depends}
Description: rally salt formula
 Install and configure rally service.
