
{% set benchmark = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-setuptools', 'python-pip', 'wget', 'build-essential', 'libssl-dev', 'libffi-dev', 'python-dev', 'libpq-dev', 'libxml2-dev', 'libxslt1-dev', 'python-virtualenv'],
    },
    'RedHat': {
        'pkgs': ['python-setuptools', 'python-pip', 'wget', 'gcc', 'libffi-devel', 'python-devel', 'openssl-devel', 'gmp-devel', 'postgresql-devel', 'libxml2-devel', 'libxslt-devel'],
    },
}, merge=salt['pillar.get']('rally:benchmark')) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-setuptools', 'python-pip', 'wget', 'build-essential', 'libssl-dev', 'libffi-dev', 'python-dev', 'libpq-dev', 'libxml2-dev', 'libxslt1-dev', 'python-virtualenv'],
    },
    'RedHat': {
        'pkgs': ['python-setuptools', 'python-pip', 'wget', 'gcc', 'libffi-devel', 'python-devel', 'openssl-devel', 'gmp-devel', 'postgresql-devel', 'libxml2-devel', 'libxslt-devel'],
    },
}, merge=salt['pillar.get']('rally:client')) %}
